<h1>Category Management</h1>
<div class="category-form">
  <h2>Create New Category</h2>
  <%= render 'form' %>
</div>

<div class="category-list">
  <h2>Categories List</h2>
  <ul>
    <% @categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</div>